html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    background-color: #DCDCDC;  /*DONE*/
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 82.9%;
    height: 90%;
}

canvas {
	border: 1px solid black;
	background-color: white; 
  display: block;
}

#details {
	background-color: transparent;
	width: 17%;
	height: 100%;
  padding: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
}

#info {
	position: absolute;
	bottom: 0px;
	/*border-top: 1px solid black;*/
  width: 80%;
	height: 9.5%;
	background-color: transparent;
}

.info-bar {
	position: absolute;
	right: 0px;
	top: 0px;
	margin: 10px;
  width: 130px;
  background-color: transparent;
  text-align: center;
  color: grey; /*DONE*/
}

/* INICIO DE TABS */

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;

    background: #197f99; /*DONE*/
}

.tablinks{
	color:white; /*DONE OBJECT ITEMS EXTRA*/
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: transparent;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd; /*done*/
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc; /*done*/
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /*border: 1px solid #ccc;*/
    border-top: none;
    height: 60%;

    /*DONE*/
    background-color: white; 
    background-image: -webkit-linear-gradient(top, #cad1eb, #dedede);
    /*
    background-image: -moz-linear-gradient(top, #cad1eb, #dedede);
    background-image: -ms-linear-gradient(top, #cad1eb, #dedede);
    background-image: -o-linear-gradient(top, #cad1eb, #dedede);
    background-image: linear-gradient(to bottom, #cad1eb, #dedede);*/
}

/* FIM DE TABS */

/* INICIO DE BUTTONS DE NAVEGAÇAO NO CANVAS */
.button-bar{
	margin: 10px;
  display: inline-block;
}

.json-bar{
  display: inline-block;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #008B8B;  /*MUDAR AQUI ESTE*/
  border: none;
  border-radius: 7px;
  box-shadow: 0 7px #999;

  /*MUDAR AQUI*/
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #d1d1d1);
  /*
  background-image: -moz-linear-gradient(top, #ffffff, #d1d1d1);
  background-image: -ms-linear-gradient(top, #ffffff, #d1d1d1);
  background-image: -o-linear-gradient(top, #ffffff, #d1d1d1);
  background-image: linear-gradient(to bottom, #ffffff, #d1d1d1);*/
  color: #6d6d6d;
}

/*MUDAR AQUI ESTE*/
.button:hover {
  background: #197f99;
  text-decoration: none;
  color: white;
}

/*MUDAR AQUI ESTE*/
.button:active {
  background-color: #2F4F4F;  
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}

/* FIM DE BUTTONS DE NAVEGAÇAO NO CANVAS */

.itemimg{
	margin: auto;
    width: 30%;
    height: auto;
    border: 3px solid black;

    cursor: pointer;
  	border-radius: 7px;
  	box-shadow: 0 7px #999;
}

.itemimg:active{
	background-color: #3e8e41;
  	box-shadow: 0 5px #666;
  	transform: translateY(3px);
}

.type_div{
	margin: 10px;
}

.type_label{
  	display:inline;
    margin:10px;
    vertical-align:top;
    color:black;
  	font-weight:bold;
  	font-size: 120%;
}

/* popup */

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}


/* statment popuo */

#statment_div{
  position: absolute;
  display: none;
  width: 80%;
  height: 90%;
}

#statment_textarea{
  position: absolute;
  resize: none;
  overflow: hidden;
  width: 95%;
  height: 90%;
  margin: 1%;
  padding: 12px 20px;
    box-sizing: border-box;
    border: 5px solid #ccc;
    border-radius: 7px;
    background-color: #f8f8f8;
}

#statment_button{
  position: absolute;
  right: 50px;
  bottom: 10px;
}

/* api popup */

#api_div{
  position: absolute;
  display: none;
  width: 80%;
  height: 90%;
}

#api_button{
  position: absolute;
  right: 50px;
  bottom: 10px;
}

#api_teste_button{
  position: absolute;
  right: 150px;
  bottom: 10px;
}

#api_inner_div{
  position: absolute;
  resize: none;
  overflow: hidden;
  width: 95%;
  height: 90%;
  margin: 1%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 5px solid #ccc;
  border-radius: 7px;
  background-color: #f8f8f8;
}

#api_text{
  width: 95%;
  height: 10%;
  text-align: center; 
}

/*end*/

tr, th{
  border:1pt solid black;
}

#fileid{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#conc_button{
  width: 200px;
  height: 50px;
  font-size: 100%;
  display: table;
  margin: 0 auto;
}

.headtext{
  text-align: center;
  text-decoration: underline;
  color: black;
}

#myLabel{
  display: block; 
  width: 100%;
  height: 5%;
  text-align: center;
}